@import controllers.UpdateFavouriteProductForm
@(favouriteProduct: Form[UpdateFavouriteProductForm], users: Seq[User], product: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

    @import helper._

    @flash.get("success").getOrElse("")

    @form(controllers.routes.FavouriteProductViewController.updateFavouriteProductHandle) {
        @helper.CSRF.formField
        <input name="id" id="id" value="@favouriteProduct("id").value" type="hidden" />

        <label for="user"></label>
        <select name="userId" id="user">
        @for(entity <- users) {
            @if(entity.id.toString == favouriteProduct("user").value.getOrElse(0)) {
                <option value="@entity.id" selected>@entity.email</option>
            } else {
                <option value="@entity.id">@entity.email</option>
            }

        }
        </select>

        <label for="product"></label>
        <select name="productId" id="product">
        @for(entity <- product) {
            @if(entity.id.toString == favouriteProduct("product").value.getOrElse(0)) {
                <option value="@entity.id" selected>@entity.name</option>
            } else {
                <option value="@entity.id">@entity.id</option>
            }

        }
        </select>


        <div class="buttons">
            <input type="submit" value="Update Favourite Product"/>
        </div>
    }