@import controllers.UpdateProductForm
@(product: Form[UpdateProductForm], category: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.ProductViewController.updateProductHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@product("id").value" type="hidden" />
    @inputText(product("name"))
    @inputText(product("description"))
    @inputText(product("price"))
    @inputText(product("image"))

    <label for="category"></label>
    <select name="categoryId" id="category">
    @for(entry <- category) {
        <option value="@entry.id">@entry.name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Product"/>
    </div>
}